.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #131316;
  color: #f2f2f3;
  position: relative;
}

.main {
  display: flex;
  gap: 40px;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
