.container {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.image {
    width: 480px;
    margin-left:auto;
    margin-right: auto;
}

.box {
    display: flex;
    gap: 20px;
    width: 520px;
    justify-content: space-between;
    list-style-type: none;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 120px;
    text-align: center;
}

.name {
    text-align: center;
}